.adminBtn {
    width:40%;
	padding:5px 10px;
	font-size: 12px;
	letter-spacing:1px;
	background:#dd4545;
	height:40px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
	border:2px solid #b43838;
}
.or {
    display: inline-block;
    width: 15%;
    color: white;
    text-align: center;
}