.else {
    margin: 0.5em auto 1.5em;
    width: 90%;
    font-size: 17px;
}
.else a {
    text-decoration: none;
    color: rgba(194, 19, 25, 0.8);
}
.else a:hover {
    color: rgba(19, 80, 194, 0.8);
    text-decoration: underline;
}
