.heroContent {
    flex: 0 1 50%;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1em;
}
.heroName {
    flex: 1 1 80%;
    text-align: center;
    margin: 1.5em;
}
.heroName > h4 {
    margin: 0;
    padding: 0;
    font-family: 'SF Distant Galaxy';
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
    
}
.heroFaction, .heroSpecies, .era {
    flex: 1 1 80%;
    align-items: center;
    /* margin-top: 1em; */
    padding-bottom: 1em;
    font-size: 24px;
    font-weight: 600;
}
.heroFaction > p, .heroSpecies > p, .era > p {
    display: inline-block;
    margin: 0;
    padding: 0 0.5em;
    font-size: 20px;
    font-weight: 100;
}
.heroDescription {
    flex: 1 1 60%;
    margin: auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.6;
}
.heroDescription > p {
    margin: 0.7em 0;
    padding: 0;
    font-weight: 100;
    font-size: 20px;
}
